.chroma { color: var(--c-code-text); }
.chroma .c, .chroma .c1, .chroma .ch, .chroma .cm, .chroma .cs, .chroma .cp, .chroma .cpf { color: var(--c-code-comment); font-style: italic; }
.chroma .k, .chroma .kc, .chroma .kd, .chroma .kn, .chroma .kp, .chroma .kr, .chroma .kt { color: var(--c-code-keyword); }
.chroma .s, .chroma .s1, .chroma .s2, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .dl, .chroma .sd, .chroma .sh, .chroma .si, .chroma .sx, .chroma .sr, .chroma .ss, .chroma .ld { color: var(--c-code-string); }
.chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo { color: var(--c-code-number); }
.chroma .o, .chroma .ow { color: var(--c-code-keyword); }
.chroma .nf, .chroma .fm { color: var(--c-code-function); }
.chroma .na, .chroma .nc, .chroma .no, .chroma .nd, .chroma .ne, .chroma .nx { color: var(--c-code-function); }
.chroma .nt { color: var(--c-code-keyword); }
.chroma .l { color: var(--c-code-number); }
.chroma .se { color: var(--c-code-number); }
.chroma .err { color: var(--c-error-500); }
.chroma .gd { color: var(--c-error-500); }
.chroma .gi { color: var(--c-accent-500); }
.chroma .gs { font-weight: bold; }
.chroma .ge { font-style: italic; }
.chroma .gu { color: var(--c-code-comment); }
.chroma .line { display: flex; }
.chroma .ln { user-select: none; margin-right: 0.5em; padding: 0 0.5em 0 0; color: var(--c-code-comment); opacity: 0.5; }
.chroma .hl { background: var(--c-primary-100); }
.chroma .lnt { user-select: none; margin-right: 0.5em; padding: 0 0.5em 0 0; color: var(--c-code-comment); opacity: 0.5; }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; }
.chroma .lnlinks { outline: none; text-decoration: none; color: inherit; }
